<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>USAPopulation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>USAPopulationEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>USAPopulationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE18277E2BA4C1E000C78506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1827942BA4C1E200C78506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE18279E2BA4C1E200C78506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7605652BA5B6AB0055BAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
